<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alzheimer's MRI Detection</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h2>Alzheimer's MRI Detection</h2>
        <input type="file" id="imageUpload" accept="image/*">
        <button onclick="uploadImage()">Predict</button>
        <p id="result"></p>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
